* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #20202d;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 945px;
    margin: auto;
    width: 90%;
}

.section {
    padding-top: 64px;
    padding-bottom: 92px;
}

.section-title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 84px;
}

.hero {
    padding-top: 50px;
    padding-bottom: 155px;
    background: linear-gradient(0.01deg, #000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.hero-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 105px;
}

.hero-header-social {
    justify-content: space-between;
    width: 100%;
}

.social-links {
    align-items: center;
    display: flex;
}

.social-link {
    margin-left: 20px;
}

.social-link:first-child {
    margin-left: 0;
}

.social-link-icon {
    fill: #fff;
}

.social-link-icon:hover {
    fill: #FFBB01;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-top: 0;
    margin-bottom: 20px;
}

.hero-discription {
    font-size: 16px;
    line-height: 22px;
    max-width: 389px;
    margin: 10px 0;
}

.hero-text span {
    color: #FFBB01;
}

.hero-avatar {
    width: 389px;
    height: 389px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../img/avatar.jpg);
    background-repeat: no-repeat;
    background-position: center top -35px;
    background-size: cover;
    border: 5px solid #FFBB01;
}

.edu {
    margin-top: 30px;
}


/* skills */

.first-skills {
    display: flex;
    width: 50%;
    align-items: baseline;
}

.flex-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills {
    background-color: rgb(0, 0, 0);
    min-width: 140px;
}

.skills-project {
    width: 100%;
    margin: 0 30px;
}

.skill-bar {
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid #FFBB01;
}

.bar {
    border-radius: 5px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    border: 1px solid #FFBB01;
    padding: 5px 0 5px 10px;
}

.skill-1 {
    width: 73%;
    background-color: #FFBB01;
}

.skill-2 {
    width: 53%;
    background-color: #FFBB01;
}

.skill-3 {
    width: 80%;
    background-color: #FFBB01;
}

.skill-4 {
    width: 60%;
    background-color: #FFBB01;
}

.plus {
    display: flex;
    color: #FFBB01;
    font-size: 70px;
    font-weight: 700;
}

.other-skills {
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* work-process*/

.work-process {
    background-color: rgb(0, 0, 0);
}

.work-process-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-process-item-title {
    font-size: 20px;
    color: #fff;
    margin: 0 auto 5px;
}

.work-process-item-title-first {
    margin: auto auto;
}

.work-process-item {
    border: 2px solid #FFBB01;
    position: relative;
    border-radius: 10px;
    min-height: 162px;
    padding: 15px;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0px 0px 30px;
    flex-basis: 30%;
    flex-direction: column;
}

.work-process-item-double {
    flex-basis: 65%;
    flex-direction: row;
    align-items: flex-start;
}

.item-double {
    display: flex;
    flex-direction: column;
}

.work-process-item:before {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 40px;
    background: #000;
    color: #FFBB01;
    border: 2px solid #FFBB01;
    left: -18px;
    top: calc(50% - 18px);
    line-height: 28px;
    font-weight: 500;
}

.work-process-item:first-child:before {
    content: "1";
}

.work-process-item:nth-child(2):before {
    content: "2";
}

.work-process-item:nth-child(3):before {
    content: "3";
}

.work-process-item:nth-child(4):before {
    content: "4";
}

.work-process-item:nth-child(5):before {
    content: "5";
}

.work-process-item:not(:last-child):after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: rgba(255, 0, 0, 0) transparent hsla(0, 0%, 100%, 0) rgb(0, 0, 0);
    border-style: solid;
    border-width: 15px;
    -webkit-filter: drop-shadow(3px 0 0 #FFBB01);
    filter: drop-shadow(3px 0 0 #FFBB01);
    right: -28px;
    top: calc(50% - 18px);
    font-weight: 500;
}

.work-process-item-ul {
    padding-left: 30px;
}

.work-process-item-ul li {
    margin-bottom: 10px;
}


/* work */

.work {
    background: #000;
}

blockquote {
    margin: 0;
    background: #F0F0F1;
    color: #000;
    padding: 20px 30px;
    position: relative;
    border-left: 10px solid #FFBB01;
}

.blockquote_text {
    margin: auto;
    font-size: 16px;
    letter-spacing: .05em;
    line-height: 1.4;
}

.blockquote_text a {
    color: #FFBB01;
    font-weight: 700;
}

.blockquote_text a:hover {
    text-decoration: underline;
}


/* projects */

.filterDiv {
    display: none !important;
}

.show {
    display: block !important;
}

#myBtnContainer {
    margin-bottom: 20px;
}

.filter-btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    min-width: 120px;
    margin-right: 20px;
    font-size: 20px;
}

.filter-btn:hover {
    border-bottom: 2px solid #FFBB01;
}

.filter-btn.active {
    background-color: transparent;
    color: #fff;
    border: 2px solid #FFBB01;
    border-radius: 25px;
    min-width: 120px;
}

.projects {
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 17.44%);
}

.project-subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}

.project-paragraph {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    max-width: 481px;
}

.block-link {
    text-decoration: none;
    color: #fff;
    padding: 100px;
}

.card-block-img {
    width: 60px;
}


/* contacts */

.contacts-form {
    background: #fff;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    max-width: 380px;
    padding: 40px 48px 49px 49px;
}

.form-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    text-align: center;
    margin: 0;
    margin-bottom: 29px;
}

.contacts-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-text {
    flex-basis: 100%;
}

.contacts-data {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
    align-items: center;
    justify-content: space-between
}

.contacts-phone,
.contacts-mail {
    flex-basis: 25%;
    margin-bottom: 53px;
}

.contacts-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 15px;
}

.contacts-link {
    text-decoration: none;
    color: inherit;
    margin-right: 37px;
    display: flex;
    align-items: center;
    fill: #fff;
}

.contacts-link:hover {
    text-decoration: underline;
    color: #FFBB01;
    fill: #FFBB01;
}

.dd {
    display: flex;
    justify-content: space-around;
}

.back {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.my-cv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 50%;
    margin-top: 72px;
}

.contacts-police-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}

.contacts-police {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
    color: #A5A5A5;
    margin-top: 72px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 187, 1, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal__block {
    background-color: #20202d;
    padding: 50px;
    max-width: 600px;
    margin: 30px;
    position: relative;
    font-size: 14px;
}

.modal__close {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border-color: transparent;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}

.modal__close:hover {
    color: #FFBB01;
}

.hide {
    display: none;
}

.text-block {
    height: 98px;
    overflow: hidden;
    transition: 1s;
}

.text-block:hover {
    height: 200px;
    cursor: pointer;
    transition: 1s;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 31%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.card-img {
    width: 384px;
    height: 250px;
    object-fit: cover;
}

.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 20px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    min-height: 96px;
}

.card-susubtitle {
    color: #FFBB01;
    font-weight: 400;
}

.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
    color: #8C8C8C;
    font-size: 18px;
    line-height: 21px;
}

.card-project-image {
    height: 250px;
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    object-fit: cover;
    width: 100%;
}

.card-project-block {
    position: relative;
    height: auto;
    background: #fff;
    border-radius: 7px;
}

.card-project-block:hover .card-block {
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(14, 13, 13, 0.7);
    display: none;
    margin-bottom: 182px;
    min-height: 250px;
    max-height: 251px;
}

.card-block-poster {
    margin-bottom: 205px;
}

#upbutton {
    background: url("../img/arrow.svg") no-repeat top left;
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}

#upbutton:hover {
    transform: scale(1.04);
}


/* media */

@media (max-width: 1100px) {
    .hero-avatar {
        width: 300px;
        height: 300px;
    }
}

@media(min-width: 992px) {
    .flex-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
        flex-wrap: wrap;
    }
    .first-skills {
        display: flex;
        width: 50%;
        align-items: baseline;
        flex-basis: 50%;
    }
    .plus {
        display: flex;
        color: #FFBB01;
        font-size: 70px;
        font-weight: 700;
        flex-wrap: wrap;
    }
    .other-skills {
        width: 290px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 836px) {
    .hero-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .hero-header {
        margin-bottom: 10px;
    }
    .hero-avatar {
        order: 0;
        margin-bottom: 17px;
    }
    .hero-text {
        order: 1;
        text-align: center;
    }
    .contacts-block {
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts-form {
        margin-bottom: 58px;
    }
    .flex-cont {
        justify-content: center;
        flex-basis: 100%;
        flex-wrap: wrap;
    }
    .first-skills {
        flex-basis: 100%;
    }
    .plus {
        flex-wrap: wrap;
    }
    .other-skills {
        flex-wrap: wrap;
        margin-left: 40px;
    }
}

@media (max-width: 636px) {
    .card-title {
        min-height: 0px;
    }
    .section-title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .text-block:hover {
        height: 250px;
    }
    .card {
        background: #fff;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
        border-radius: 7px;
        overflow: hidden;
        margin-bottom: 30px;
        flex-basis: 49%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    .work-process-item {
        flex-basis: 96%;
    }
    .work-process-item-double {
        flex-direction: column;
    }
    .work-process-item:not(:last-child):after {
        top: calc(50% - -49.5%);
        transform: rotate(90deg);
        right: calc(50% - 18px);
    }
    .filter-btn {
        margin-right: 0px;
        font-size: 14px;
        min-width: 90px;
    }
    .filter-btn.active {
        min-width: 90px;
    }
    .blockquote_ul {
        padding-left: 0px;
    }
}

@media (max-width: 564px) {
    .hero {
        padding-bottom: 50px;
    }
    .hero-avatar {
        width: 113px;
        height: 113px;
        border: 3px solid #FFBB01;
        background-position: center top -9px;
    }
    .hero-header {
        margin-bottom: 38px;
    }
    .hero-title {
        font-size: 25px;
        line-height: 28px;
        margin-bottom: 4px;
    }
    .hero-discription {
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 0;
    }
    .section {
        padding: 40px 0;
    }
    .hero-header-social {
        flex-direction: column;
    }
    .hero-header-social .contacts-link {
        margin-right: 0;
    }
    .hero-header-icons {
        margin-bottom: 13px;
    }
    .footer-social-links {
        margin-bottom: 30px;
    }
    .project-paragraph {
        max-width: 210px;
        font-size: 14px;
    }
    .contacts-form {
        padding: 40px 19px;
    }
    .form-title {
        font-size: 15px;
        line-height: 140%;
    }
    .contacts-phone,
    .contacts-mail {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .contacts-title {
        font-size: 18px;
        line-height: 21px;
    }
    .contacts-data {
        margin-bottom: 0;
    }
    .contacts-link {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 13px;
    }
    blockquote p {
        font-size: 16px;
    }
    .my-cv {
        flex-basis: 100%;
        margin-top: 20px;
    }
    .contacts-police {
        margin-top: 50px;
    }
    .bar {
        font-size: 10px;
    }
    .skills {
        font-size: 14px;
    }
    .skills-project {
        margin: 0;
    }
    .plus p {
        margin: 0;
    }
    .other-skills {
        margin-left: 0;
        justify-content: space-around;
    }
    .back {
        justify-content: start;
    }
    .modal__block {
        background-color: #20202d;
        padding: 60px 30px 30px;
        max-width: 600px;
        margin: 30px;
        position: relative;
        font-size: 12px;
    }
    .modal__block {
        font-size: 12px;
    }
    .text-block:hover {
        height: 190px;
    }
    .card {
        flex-basis: 58%;
        margin-left: 25%;
    }
    .card:hover {
        transform: none;
    }
}

@media (max-width: 522px) {
    .text-block:hover {
        height: 220px;
    }
    .card {
        flex-basis: 58%;
    }
}

@media (max-width: 461px) {
    .text-block:hover {
        height: 250px;
    }
    .card {
        flex-basis: 62%;
    }
}

@media (max-width: 406px) {
    .text-block:hover {
        height: 290px;
    }
    .card {
        flex-basis: 100%;
        margin-left: 0;
    }
    .card-project-block {
        width: auto;
    }
}

@media (max-width: 360px) {
    .text-block:hover {
        height: 360px;
    }
}