* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #20202d;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 945px;
    margin: auto;
    width: 90%;
}

.section {
    padding-top: 64px;
    padding-bottom: 92px;
}

.section-title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 84px;
}

.hero {
    padding-top: 50px;
    padding-bottom: 155px;
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.hero-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 105px;
}

.hero-header-social {
    justify-content: space-between;
    width: 100%;
}

.social-links {
    align-items: center;
    display: flex;
}

.social-link {
    margin-left: 20px;
}

.social-link:first-child {
    margin-left: 0;
}

.social-link-icon {
    fill: #ffffff;
}

.social-link-icon:hover {
    fill: #FFBB01;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFBB01;
}

.hero-discription {
    font-size: 16px;
    line-height: 28px;
    max-width: 420px;
    margin-bottom: 38px;
}

.hero-avatar {
    width: 389px;
    height: 389px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../img/avatar.jpg);
    background-repeat: no-repeat;
    background-position: center top -35px;
    background-size: cover;
    border: 5px solid #FFBB01;
}


/* skills */

.first-skills {
    display: flex;
    width: 50%;
    align-items: baseline;
}

.flex-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills {
    background-color: rgb(0, 0, 0);
    min-width: 105px;
}

.plus {
    display: flex;
    color: #FFBB01;
    font-size: 70px;
    font-weight: 700;
}

.skill-bar {
    width: 100%;
    margin: 0 30px;
}

.bar {
    background-color: #000;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #FFBB01;
}

.bar::before {
    content: attr(data-skill);
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
}

.bar.advanced::before {
    width: calc(80% - 0px);
}

.bar.expert::before {
    width: calc(76% - 0px);
}

.bar.basic::before {
    width: calc(72% - 0px);
}

.bar.front::before {
    background-color: #FFBB01;
}

.bar.learning::before {
    width: calc(56% - 0px);
}

.other-skills {
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* timeline */

.hexa {
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 20px;
    color: #000;
    position: relative;
    margin-top: 15px;
}

.hexa:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
}

.hexa:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
}

.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
    color: #000;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: rgb(213, 213, 213);
    background: -moz-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -o-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -ms-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    z-index: 5;
}


/*.timeline li {
    padding: 2em 0;
}*/

.timeline .hexa {
    width: 16px;
    height: 10px;
    position: absolute;
    background: #FFBB01;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -30px;
    margin-top: 0;
}

.timeline .hexa:before {
    border-bottom: 4px solid #FFBB01;
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
}

.timeline .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid #FFBB01;
    bottom: -4px;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;
    text-align: center;
}

.flag-wrapper {
    text-align: center;
    position: relative;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 15;
    padding: 6px 10px;
    text-align: left;
    border-radius: 5px;
}

.flag a {
    text-decoration: none;
    color: #000;
}

.flag a:hover {
    text-decoration: underline;
    color: #FFBB01;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    color: #000;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.time {
    background: #FFBB01;
    display: inline-block;
    padding: 8px;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(254, 254, 254);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
}


/* features */

.features {
    background-color: rgb(0, 0, 0);
}

.features-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    flex-basis: 30%;
    margin-bottom: 63px;
}

.features-image {
    display: block;
    margin-bottom: 22px;
}

.features-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}


/* work */

.work {
    background: #000;
}

blockquote {
    margin: 0;
    background: #F0F0F1;
    color: #333334;
    padding: 20px 30px;
    position: relative;
    border-left: 10px solid #FFBB01;
    font-family: 'Lato', sans-serif;
}

.blockquote_text {
    margin: auto;
    font-size: 18px;
    letter-spacing: .05em;
    line-height: 1.4;
}

.blockquote_text a {
    color: #FFBB01;
    text-decoration: none;
}

.blockquote_text a:hover {
    text-decoration: underline;
}


/* projects */

.projects {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.projects-slide {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.swiper-slide-next {
    opacity: 0;
}

.project-text {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
}

.project-title {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 41px;
}

.progect-time {
    flex-basis: 50%;
    margin-bottom: 44px;
}

.progect-time,
.project-feedback {
    display: flex;
    align-items: flex-start;
}

.project-subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}

.project-paragraph {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    max-width: 481px;
}

.project-icon {
    margin-right: 16px;
}

.project-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #FFBB01;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.project-bullet-active {
    background-color: #FFBB01;
}

.project-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
}

.project-image {
    width: 338px;
    height: 268px;
    border-radius: 6px;
    object-fit: cover;
}

.project-block {
    position: relative;
    width: 338px;
    height: 268px;
    background: transparent;
}

.block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(14, 13, 13, 0.7);
    padding: 5px;
    display: none;
}

.project-block:hover .block {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-link {
    text-decoration: none;
    color: white;
}


/* contacts */

.contacts-form {
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    max-width: 380px;
    padding: 40px 48px 49px 49px;
}

.form-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    margin: 0;
    margin-bottom: 29px;
}

.input {
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    padding: 18px 20px;
    padding-left: 50px;
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 28px;
    color: #949494;
}

.input-name {
    margin-bottom: 17px;
    background-image: url(../img/contacts/user-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
    color: #20202d;
}

.input-phone {
    margin-bottom: 17px;
    background-image: url(../img/contacts/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
    color: #20202d;
}

.contacts-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-text {
    flex-basis: 100%;
}

.contacts-data {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
    align-items: center;
    justify-content: space-between
}

.contacts-phone,
.contacts-mail {
    flex-basis: 25%;
    margin-bottom: 53px;
}

.contacts-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 15px;
}

.contacts-link {
    text-decoration: none;
    color: inherit;
    margin-right: 37px;
}

.contacts-link:hover {
    text-decoration: underline;
    color: #FFBB01;
}

.dd {
    display: flex;
    justify-content: space-around;
}

.back {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.my-cv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 50%;
    margin-top: 72px;
}

.contacts-police-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}

.contacts-police {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
    color: #A5A5A5;
    margin-top: 72px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 187, 1, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal__block {
    background-color: #20202d;
    padding: 50px;
    max-width: 600px;
    margin: 30px;
    position: relative;
    font-size: 14px;
}

.modal__close {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border-color: transparent;
    font-size: 24px;
    line-height: 24px;
    color: white;
    cursor: pointer;
}

.modal__close:hover {
    color: #FFBB01;
}

.hide {
    display: none;
}

.text-block {
    height: 98px;
    overflow: hidden;
    transition: 1s;
}

.text-block:hover {
    height: 200px;
    cursor: pointer;
    transition: 1s;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 31%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.card-img {
    width: 384px;
    height: 250px;
    object-fit: cover;
}

.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 20px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    min-height: 96px;
}

.card-susubtitle {
    color: #FFBB01;
    font-weight: 400;
}

.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
    color: #8C8C8C;
    font-size: 18px;
    line-height: 21px;
}

.card-project-image {
    height: 250px;
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    object-fit: cover;
    width: 100%;
}

.card-project-block {
    position: relative;
    height: auto;
    background: white;
    border-radius: 7px;
}

.card-project-block:hover .card-block {
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(14, 13, 13, 0.7);
    display: none;
    margin-bottom: 182px;
    min-height: 250px;
    max-height: 251px;
}

.card-block-poster {
    margin-bottom: 205px;
}

#upbutton {
    background: url("../img/arrow.svg") no-repeat top left;
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}

#upbutton:hover {
    transform: scale(1.04);
}


/* media */

@media (max-width: 1100px) {
    .hero-avatar {
        width: 300px;
        height: 300px;
    }
}

@media(min-width: 992px) {
    .timeline {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .direction-l {
        position: relative;
        width: 380px;
        float: left;
        text-align: right;
    }
    .direction-r {
        position: relative;
        width: 380px;
        float: right;
        text-align: left;
    }
    .flex-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
        flex-wrap: wrap;
    }
    .first-skills {
        display: flex;
        width: 50%;
        align-items: baseline;
        flex-basis: 50%;
    }
    .plus {
        display: flex;
        color: #FFBB01;
        font-size: 70px;
        font-weight: 700;
        flex-wrap: wrap;
    }
    .other-skills {
        width: 260px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 836px) {
    .hero-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .hero-header {
        margin-bottom: 10px;
    }
    .hero-avatar {
        order: 0;
        margin-bottom: 17px;
    }
    .hero-text {
        order: 1;
        text-align: center;
    }
    .features-item {
        flex-basis: 45%;
    }
    .projects-slide {
        flex-direction: column;
    }
    .project-image {
        margin-bottom: 46px;
    }
    .contacts-block {
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts-form {
        margin-bottom: 58px;
    }
    .flex-cont {
        justify-content: center;
        flex-basis: 100%;
        flex-wrap: wrap;
    }
    .first-skills {
        flex-basis: 100%;
    }
    .plus {
        flex-wrap: wrap;
    }
    .other-skills {
        flex-wrap: wrap;
        margin-left: 40px;
    }
}

@media(min-width: 768px) {
    .timeline {
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .timeline .hexa {
        left: -28px;
        right: auto;
        top: 8px;
    }
    .timeline .direction-l .hexa {
        left: auto;
        right: -28px;
    }
    .direction-l {
        position: relative;
        width: 310px;
        float: left;
        text-align: right;
    }
    .direction-r {
        position: relative;
        width: 310px;
        float: right;
        text-align: left;
    }
    .flag-wrapper {
        display: inline-block;
    }
    .flag {
        font-size: 18px;
    }
    .direction-l .flag:after {
        left: auto;
        right: -16px;
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: rgb(254, 254, 254);
        border-width: 8px;
    }
    .direction-r .flag:after {
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(254, 254, 254);
        border-width: 8px;
        left: -8px;
    }
    .time-wrapper {
        display: inline;
        vertical-align: middle;
        margin: 0;
    }
    .direction-l .time-wrapper {
        float: left;
    }
    .direction-r .time-wrapper {
        float: right;
    }
    .time {
        padding: 5px 10px;
    }
    .direction-r .desc {
        margin: 1em 0 0 0.75em;
    }
}

@media (max-width: 636px) {
    .text-block:hover {
        height: 250px;
    }
    .card {
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
        border-radius: 7px;
        overflow: hidden;
        margin-bottom: 30px;
        flex-basis: 49%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 564px) {
    .hero {
        padding-bottom: 75px;
    }
    .hero-avatar {
        width: 113px;
        height: 113px;
        border: 3px solid #FFBB01;
        background-position: center top -9px;
    }
    .hero-header {
        margin-bottom: 38px;
    }
    .hero-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 4px;
    }
    .hero-discription {
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 68px;
    }
    .section {
        padding: 60px 0;
    }
    .hero-title {
        font-size: 19px;
        line-height: 22px;
    }
    .hero-header-social {
        flex-direction: column;
    }
    .hero-header-social .contacts-link {
        margin-right: 0;
    }
    .hero-header-icons {
        margin-bottom: 13px;
    }
    .footer-social-links {
        margin-bottom: 30px;
    }
    .features-item {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .features-text {
        font-size: 14px;
        line-height: 28px;
    }
    .project-image {
        width: 288px;
    }
    .project-title {
        font-size: 18px;
        line-height: 150%;
    }
    .progect-time,
    .project-feedback {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .project-paragraph {
        max-width: 210px;
        font-size: 14px;
    }
    .contacts-form {
        padding: 40px 19px;
    }
    .form-title {
        font-size: 15px;
        line-height: 140%;
    }
    .contacts-phone,
    .contacts-mail {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .contacts-title {
        font-size: 18px;
        line-height: 21px;
    }
    .contacts-data {
        margin-bottom: 0;
    }
    .contacts-link {
        font-size: 14px;
        line-height: 16px;
        display: block;
        margin-bottom: 13px;
    }
    .project-pagination {
        margin-top: 10px;
    }
    blockquote p {
        font-size: 12px;
    }
    .my-cv {
        flex-basis: 100%;
        margin-top: 20px;
    }
    .contacts-police {
        margin-top: 50px;
    }
    .bar {
        font-size: 10px;
    }
    .skills {
        font-size: 14px;
    }
    .skill-bar {
        margin: 0px 15px;
    }
    .plus p {
        margin: 0;
    }
    .other-skills {
        margin-left: 0;
        justify-content: space-around;
    }
    .back {
        justify-content: start;
    }
    .modal__block {
        background-color: #20202d;
        padding: 60px 30px 30px;
        max-width: 600px;
        margin: 30px;
        position: relative;
        font-size: 12px;
    }
    .modal__block {
        font-size: 12px;
    }
    .block {
        width: 288px;
    }
    .text-block:hover {
        height: 190px;
    }
    .card {
        flex-basis: 58%;
        margin-left: 25%;
    }
    .card:hover {
        transform: none;
    }
}

@media (max-width: 522px) {
    .text-block:hover {
        height: 220px;
    }
    .card {
        flex-basis: 58%;
    }
}

@media (max-width: 461px) {
    .text-block:hover {
        height: 250px;
    }
    .card {
        flex-basis: 62%;
    }
}

@media (max-width: 406px) {
    .text-block:hover {
        height: 290px;
    }
    .card {
        flex-basis: 100%;
        margin-left: 0;
    }
    .card-project-block {
        width: auto;
    }
}

@media (max-width: 360px) {
    .text-block:hover {
        height: 360px;
    }
}